[defaults]
inventory = inventories/lab/hosts.yml
roles_path = ./roles
retry_files_enabled = false
host_key_checking = true
interpreter_python = auto_silent
stdout_callback = ansible.builtin.default

[privilege_escalation]
become = false
